@import "tailwindcss";

@layer base {
  :root {
    --background: 223.8136 0.0005% 98.6829%;
    --foreground: 0 0% 0%;
    --card: 223.8136 -172.5242% 100.0000%;
    --card-foreground: 0 0% 0%;
    --popover: 223.8136 0.0005% 98.6829%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 223.8136 -172.5242% 100.0000%;
    --secondary: 223.8136 0.0001% 92.1478%;
    --secondary-foreground: 0 0% 0%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0.0000% 32.3067%;
    --accent: 223.8136 0.0001% 92.1478%;
    --accent-foreground: 0 0% 0%;
    --destructive: 358.4334 74.9120% 59.7455%;
    --destructive-foreground: 223.8136 -172.5242% 100.0000%;
    --border: 223.8136 0.0001% 89.5577%;
    --input: 223.8136 0.0001% 92.1478%;
    --ring: 0 0% 0%;
  }

  .dark {
    --background: 225 7.1429% 10.9804%;
    --foreground: 0 0% 94.1176%;
    --card: 228.0000 6.8493% 14.3137%;
    --card-foreground: 0 0% 94.1176%;
    --popover: 228.0000 6.8493% 14.3137%;
    --popover-foreground: 0 0% 94.1176%;
    --primary: 257.6687 100% 68.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.6667 9.6774% 18.2353%;
    --secondary-foreground: 0 0% 94.1176%;
    --muted: 226.6667 9.6774% 18.2353%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 217.2414 32.5843% 17.4510%;
    --accent-foreground: 208.2090 100.0000% 73.7255%;
    --destructive: 0 90.6040% 70.7843%;
    --destructive-foreground: 0 0% 100%;
    --border: 222.8571 6.4220% 21.3725%;
    --input: 222.8571 6.4220% 21.3725%;
    --ring: 257.6687 100% 68.0392%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}